<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Nuspecs" value="Nuspecs" />
    <add key="mahua" value="npks" />
    <add key="cn" value="https://nuget.cnblogs.com/v3/index.json" />
    <add key="us" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="cn" value="true" />
    <add key="us" value="true" />
  </disabledPackageSources>
</configuration>
