<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net452" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
</packages>