<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off"
internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="ReflectSoftware.Insight.Extensions.NLog" />
  </extensions>
  <targets async="true">
    <target xsi:type="File"
	    	name="f"
	    	encoding="UTF-8"
	    	fileName="${basedir}/logs/${shortdate}.log"
	    	layout="${longdate} - ${level:uppercase=true} [${threadid}]: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString} ${newline}Stack trace\: ${newline} ${stacktrace}}"
      />
    <target xsi:type="NLogViewer"
		    name="log4view"
		    address="udp://127.0.0.1:878"
            KeepConnection="false"
            OnConnectionOverflow="Block"
            MaxConnections="5" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="log4view" />
  </rules>
</nlog>