<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="info" internalLogFile="c:\temp\internal-nlog.txt">
    <!-- the targets to write to -->
    <targets async="true">
        <target xsi:type="File"
                name="allLogFile"
                archiveAboveSize="10485760"
                maxArchiveFiles="100"
                encoding="utf-8"
                fileName="${basedir}/logs/${shortdate}.log"
                archiveFileName="${basedir}/logs/${shortdate}-{####}.log"
                layout="${longdate} - ${level:uppercase=true} [${logger}]: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString} ${newline}Stack trace\: ${newline} ${stacktrace}}"
                archiveNumbering="Sequence">
        </target>

    </targets>
    <!-- rules to map from logger name to target -->
    <rules>
        <!-- 默认只将 Info 及以上级别的日志进行记录 -->
        <logger name="*" writeTo="allLogFile" />
    </rules>
</nlog>