<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="newbe" value="http://localhost:8081/repository/nuget-hosted/" />
    <add key="us-proxy" value="http://localhost:8081/repository/nuget-center/" />
    <add key="us" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="us" value="true" />
  </disabledPackageSources>
</configuration>
