<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net452" />
  <package id="codecracker.CSharp" version="1.0.3" targetFramework="net452" developmentDependency="true" />
  <package id="DllExport" version="1.5.1" targetFramework="net452" />
</packages>